<div class="form-action-group">
    {{#if theme_settings.add_to_cart_btn '==' 'add_to_cart'}}
        <div class="form-action">
            <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit"
                value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
        </div>
    {{else if theme_settings.add_to_cart_btn '==' 'buy_now'}}
        <div class="form-action form-action--buyNow">
            <input id="form-action-buyNow" data-wait-message="{{lang 'products.buy_now'}}" class="button button--buyNow" type="submit"
                value="{{lang 'products.buy_now'}}">
        </div>
    {{else}}
        <div class="form-action">
            <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit"
                value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
        </div>
        <div class="form-action-or">Or</div>
        <div class="form-action form-action--buyNow">
            <input id="form-action-buyNow" data-wait-message="{{lang 'products.buy_now'}}" class="button button--buyNow" type="submit"
                value="{{lang 'products.buy_now'}}">
        </div>
    {{/if}}
</div>
<br>
<!-- Beginning of Buy With Prime Widget -->
<script async fetchpriority='high' src='https://code.buywithprime.amazon.com/bwp.v1.js'></script>
<div
    id="amzn-buy-now"
    data-site-id="3g8mogz0k3"
    data-widget-id="w-TCF8S93QS49py8Opd7ujq8"
    data-sku="{{product.sku}}"
></div>
<!-- End of Buy With Prime Widget -->
